<div class="container">
  <h1 class="header">🤖 Jarvis AI Assistant</h1>
  <p class="intro">
    I am Jarvis, your AI assistant. I can perform Wikipedia searches, 
    execute voice commands, provide the current date and time, and launch applications.<br>
    <b>Eg:-</b> Search Weather today?, what's Time now?,Wikipedia Python, open Notepad, etc...
  </p>

  <button (click)="startListening()" [disabled]="isDisable" class="btn">
    🎤 {{ isListening ? 'Listening...' : 'Click to Speak' }}
  </button>

  <div class="section">
    <h3>🗣 Recognized Command:</h3>
    <p class="output">{{ command || "Say something..." }}</p>
  </div>

  <div class="section">
    <h3>🤖 Response:</h3>
    <p class="output">{{ response || "Awaiting response..." }}</p>
  </div>
</div>

<router-outlet />
